# Node.js (Backend)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
/dist

# Vite (Frontend)
node_modules/
dist/
.vite/
.env.local
.env.*.local

# MacOS
.DS_Store

# Visual Studio Code
.vscode/

# Logs
*.log

# Loại bỏ .history
.history/
